* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #800000;
    color: white;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.header-content {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.logo {
    max-width: 3rem;
    margin-right: 1rem;
}

h1 {
    font-size: 1.5rem;
    margin-right: auto;
}

.nav-links {
    display: flex;
    align-items: center;
}

.nav-links a:hover {
    color: #ffcc00;
}

.nav-links a {
    color: white;
    text-decoration: none;
    margin: 0 0.5rem;
}

html {
    font-size: 100%;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

.apply-section {
    padding: 5rem 1rem;
    text-align: left;
    color: black;
}

.apply-section h2 {
    font-size: 2rem;
    color: #800000;
    margin-bottom: 1rem;
}

.form-group {
    margin-bottom: 1rem;
}

.form-group label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

.checkbox-group {
    display: flex;
    flex-wrap: wrap;
}

.checkbox-group label {
    margin-right: 1rem;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="date"],
input[type="file"] {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
}

input[type="radio"] {
    margin-right: 0.5rem;
}

.form-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}

.cancel-btn,
.submit-btn {
    background-color: #800000;
    color: white;
    padding: 0.75rem 1.5rem;
    font-size: 1.2rem;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
}

.cancel-btn {
    background-color: #ccc;
}

.submit-btn:hover {
    background-color: #cc0000;
}

footer {
    background-color: #800000;
    color: white;
    text-align: center;
    padding: 1rem;
}